[submodule "module/Nexus-Unit-Testing"]
	path = module/Nexus-Unit-Testing
	url = https://github.com/TheNexusAvenger/Nexus-Unit-Testing.git
[submodule "module/Nexus-Project"]
	path = module/Nexus-Project
	url = https://github.com/TheNexusAvenger/Nexus-Project.git
[submodule "module/Nexus-Plugin-Components"]
	path = module/Nexus-Plugin-Components
	url = https://github.com/TheNexusAvenger/Nexus-Plugin-Components.git
